<!DOCTYPE html>
<html>
<head>
    <title>HAPI</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Welcome to HAPI</h1>
<h2>Predicted Data</h2>
<form method="POST", action="/hapi/sendpredicted">
    team_id:<br>
    <input type="text" name="team_id"><br>
    description:<br>
    <input type="text" name="description"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>