<!DOCTYPE html>
<html>
<head>
    <title>HAPI: <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Welcome to HAPI</h1>
<form method="POST", action="/hapi/showresponse">
    TEAM_ID:<br>
    <input type="text" name="TEAM_ID"><br>
    LAT:<br>
    <input type="text" name="LAT"><br>
    LONG:<br>
    <input type="text" name="LONG"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>